<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Check orders</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style2.css" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top navi">
        <div class="container">
          <a class="navbar-brand name" href="index.html">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 448 512"
            >
              <style>
                svg {
                  fill: #ffffff;
                }
              </style>

              <path
                d="M224 0c13.3 0 24 10.7 24 24V70.1l23-23c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-57 57v76.5l66.2-38.2 20.9-77.8c3.4-12.8 16.6-20.4 29.4-17s20.4 16.6 17 29.4L373 142.2l37.1-21.4c11.5-6.6 26.2-2.7 32.8 8.8s2.7 26.2-8.8 32.8L397 183.8l31.5 8.4c12.8 3.4 20.4 16.6 17 29.4s-16.6 20.4-29.4 17l-77.8-20.9L272 256l66.2 38.2 77.8-20.9c12.8-3.4 26 4.2 29.4 17s-4.2 26-17 29.4L397 328.2l37.1 21.4c11.5 6.6 15.4 21.3 8.8 32.8s-21.3 15.4-32.8 8.8L373 369.8l8.4 31.5c3.4 12.8-4.2 26-17 29.4s-26-4.2-29.4-17l-20.9-77.8L248 297.6v76.5l57 57c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-23-23V488c0 13.3-10.7 24-24 24s-24-10.7-24-24V441.9l-23 23c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l57-57V297.6l-66.2 38.2-20.9 77.8c-3.4 12.8-16.6 20.4-29.4 17s-20.4-16.6-17-29.4L75 369.8 37.9 391.2c-11.5 6.6-26.2 2.7-32.8-8.8s-2.7-26.2 8.8-32.8L51 328.2l-31.5-8.4c-12.8-3.4-20.4-16.6-17-29.4s16.6-20.4 29.4-17l77.8 20.9L176 256l-66.2-38.2L31.9 238.6c-12.8 3.4-26-4.2-29.4-17s4.2-26 17-29.4L51 183.8 13.9 162.4c-11.5-6.6-15.4-21.3-8.8-32.8s21.3-15.4 32.8-8.8L75 142.2l-8.4-31.5c-3.4-12.8 4.2-26 17-29.4s26 4.2 29.4 17l20.9 77.8L200 214.4V137.9L143 81c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l23 23V24c0-13.3 10.7-24 24-24z"
              />
            </svg>
            Blizzard Publications
          </a>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <div class="container my-5">
        <%if(data.length > 0){%>
        <h1 style="text-align: center; padding: 1rem">Check orders</h1>
        <div
          class="d-md-flex d-none justify-content-md-between justify-content-sm-center align-content-center border-bottom border-2 my-2 bg-dark text-light p-3 rounded-3"
        >
          <div class="col-3 align-self-center">
            <h1 class="h5 fw-bold text-center">Order Info</h1>
          </div>
          <div class="col-3 align-self-center">
            <h1 class="h5 fw-bold text-center">Shipping Info</h1>
          </div>
          <div class="col-4 align-self-center">
            <h1 class="h5 fw-bold text-center">Items ordered</h1>
          </div>
          <div class="col-2 align-self-center">
            <h1 class="h5 fw-bold text-center">Order Status</h1>
          </div>
        </div>
        <%data.forEach(function(data){%>
        <div
          class="d-md-flex d-sm-block justify-content-md-between justify-content-sm-center text-center border-bottom border-2 my-2 bg-light p-2 rounded-3"
        >
          <div class="col-md-3 text-sm-center align-self-center my-2">
            <h1 class="h6">Order ID: TTP<%=data.id*10+123%></h1>
            <h1 class="h6">Date: <%=data.createdAt%></h1>
            <h1 class="h6">Order Amount: BDT <%=data.total%></h1>
            <h6>Transaction ID: <%=Math.random().toString(36).substr(2)%></h6>
          </div>

          <div class="col-md-3 text-sm-center align-self-center my-2">
            <h1 class="h6">Name: <%=data.user_name%></h1>
            <!-- <h1 class="h6">Email: chowdhurymitu05@gmail.com</h1> -->
            <h1 class="h6">
              Address: <%=data.address%>
            </h1>
          </div>

          <div class="col-md-4 text-sm-center align-self-center my-2">
            <h1 class="h6">
              <%=data.description%>
            </h1>
          </div>

          <div class="col-md-2 text-sm-center align-self-center my-2">
            <%if(data.status==='Under Shipping'){%>
            <form
              method="post"
              action="/confirmSupply"
              class="d-flex justify-content-center"
            >
              <input type="hidden" name="id" value="<%=data.id%>" />

              <div class="container">
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#<%=data.id%>"
                >
                  Supply Product
                </button>

                <div class="modal fade" id="<%=data.id%>">
                  <div
                    class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                  >
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Order ID: TTP<%=data.id*10+123%></h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <h6>Customer Name: <%=data.user_name%></h6>
                        <h6>Address: <%=data.address%></h6>
                        <hr />
                        <h6>Amount to be paid: BDT <%=data.total%></h6>
                        <h6>Transaction ID: <%=Math.random().toString(36).substr(2)%></h6>
                        <hr />
                        <p>
                          <%=data.description%>
                        </p>
                        <hr />
                        <p>
                          If you confirm this supply request, the books on the
                          description above will be transferred from your
                          inventory.
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-outline-primary"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                        <button
                          type="submit"
                          class="btn btn-primary"
                          data-bs-dismiss="modal"
                        >
                          Confirm Shipment
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <%}
            else{%>
              <h1 class="h6 text-success">Supplied</h1>
            <%}%>
            <!-- <h1 class="h6 text-success">Delivered</h1> -->
          </div>
          
        </div>
        <%}); }%>

      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
